code {
    font-size: bigger;
}
h1 {
    font-size: smaller;
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

code.inline {
    display: block;
    font-family: monospace;
    white-space: pre;
}
